## 1. Headers and Imports

In [4]:
# Computational Libraries
import tensorflow as tf
import numpy as np
import pandas as pd

# Keras Libraries
from keras.models import Sequential
from keras.layers import Dense,Activation,Layer,Lambda

# Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Metric Libraries
from sklearn.metrics import classification_report

%matplotlib inline

## 2. Importing Data

In [18]:
dataset_train = pd.read_csv("./Dataset/titanic/train.csv")
dataset_test  = pd.read_csv("./Dataset/titanic/test.csv")
df = dataset_train.copy()

print(f"This Titanic Train Dataset has {dataset_train.shape[0]} rows and {dataset_train.shape[1]} columns")
print(f"This Titanic Test Dataset has {dataset_test.shape[0]} rows and {dataset_test.shape[1]} columns")
dataset_train.head()

This Titanic Train Dataset has 891 rows and 12 columns
This Titanic Test Dataset has 418 rows and 11 columns

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

- The target varible is Suvived

## 3. Data check and Cleaning

### 3A & 3B. Initial Observations and Verification of datatypes

In [19]:
# Initial Observations on Dataset
print('Initial Observations\n--------------------')
print('Number of observations = {0}\nNumber of Features = {1}'.format(df.shape[0],df.shape[1]))
print('Columns :',list(df.columns),"\n")

# Verification of datatypes
print('Datatypes\n---------')
print(df.dtypes)

Initial Observations
--------------------
Number of observations = 891
Number of Features = 12
Columns : ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

Datatypes
---------
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### <font color=green>âœ“ The datatypes are assigned properly</font>
1. object - corresponds to string datatype
2. int64  - corresponds to integer datatype

 ### 3C. Hunt For Missing Values

In [20]:
# Hunt For Missing Values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### <font color=orange>There's missing data in the dataset</font>

In [22]:
df.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

Out of the dataset
- Categorical Features : Name, Sex, Ticket, Cabin, Embarked
- Numerical Features : PassengerId, Survived, Pclass, Age, SibSp, Parch, Fare

Out of the dataset useful features are
- Useful Features (Numerical) : Pclass, Age, SibSp, Parch, Fare
- Useful Features (Categorical) : Sex, Embarked
- Prediction Features : Survived